.App {
  text-align: center;
  height: 100vh;
  
  display:flex;
  flex-direction: column;
  align-items: center;
}

.App-header{
}

.App-body {
  margin-top:5%;
  flex-grow: 2;
}

.menu-link {
  text-decoration: none;
  color: #fff;
}

.menu-link:hover {
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 2px;
  font-weight: bold;
}

.detail-key {
  color: #0d6efd;
  font-weight: bold;

}

.object-detail-key {
  color: #072e68;
  font-weight: bold;
}